body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tooltip {
  background-color: white;
  padding: 1em;
  font-size: 0.8em;
  font-weight: 500;
  color: gray;
  box-shadow: 0 3px 6px #00000026;
  border-radius: 4px;
}
